<template>
  <Dialog ref="Dialog">
    <div id="roleEditor">
      <ul class="navigation">
        <li
          class="role"
          :class="{'selected': selectedRole == role}"
          v-for="(role, i) in $store.state.roles"
          :key="i"
          @click="selectedRole = role"
        >{{role.title}}</li>
      </ul>
      <div id="roleEditorContent">
        <p class="group">Rollentyp</p>
        <input type="checkbox" value="sender" id="sender" v-model="selectedRole.roles" />
        <label for="sender">Sender</label>
        <input type="checkbox" value="receiver" id="receiver" v-model="selectedRole.roles" />
        <label for="sender">Empfänger</label>
        <hr />
        <p class="group">Aktionen</p>
        <table>
          <tbody>
            <tr v-for="(command, i) in selectedRole.commands" :key="i">
              <td>
                <input type="text" :value="command.title" />
              </td>
              <td class="slim">
                <select v-model="command.receiver">
                  <option
                    v-for="(role, i) in $store.state.roles.filter(f=> f != selectedRole && f.roles.includes('receiver'))"
                    :key="i"
                    :value="role.title"
                  >{{role.title}}</option>
                </select>
              </td>
              <td class="slim">
                <button>löschen</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </Dialog>
</template>

<script>
export default {};
</script>

<style>
</style>
</template>
<script>
import Dialog from "../../../../src/controls/Dialog";

export default {
  data() {
    return {
      selectedRole: {}
    };
  },
  methods: {
    open() {
      console.log("opening role editor");
      this.$refs.Dialog.open("Rollen Editor");
    }
  },

  components: {
    Dialog
  }
};
</script>
