<template>
  <div id="app">
    <nav v-show="currentStation.name">
      <div>
        <button
          v-for="(station, i) in stationsList"
          :key="i"
          :class="{'selected': currentStation.name==station.name}"
          @click="stationClicked(station)"
        >
          <img
            :src="'static/icons/'+station.name + (currentStation.name == station.name? '_light' :'') + '.svg'"
          />
          <span class="navigation-title">{{station.title}}</span>
        </button>
      </div>
      <div></div>
      <ContextMenu>
        <button @click="$refs.roleEditor.open()">
          <img src="static/icons/role-editor_dark.svg" />Rollen bearbeiten...
        </button>
      </ContextMenu>
    </nav>

    <div id="content">
      <div id="welcome" v-show="!currentStation.name">
        <img src="static/app_64.svg" />
        <p>Messenger. Ein Projekt des EWP-Teams</p>
        <h1>Wähle Deine Station aus...</h1>
        <ul>
          <li v-for="(station, i) in stationsList" :key="i">
            <button @click="stationClicked(station)">
              <img :src="'static/icons/'+station.name + '.svg'" />
              {{station.title}}
            </button>
          </li>
        </ul>
      </div>
      <div v-show="currentStation.roles && currentStation.roles.includes('receiver')">
        <h3>Aufträge</h3>
        <ul id="tasks">
          <li
            v-for="(task, i ) in taskList"
            :key="i"
            class="task"
            :class="'priority-' + task.command.priority"
          >
            <div class="message">
              <span>
                <small>Von: {{task.sender}}</small>
                <br />
                <strong>{{task.command.title}}</strong>
                <br />
                <small>{{new Date(task.timestamp).toLocaleTimeString("de-DE") }}</small>
              </span>
            </div>
            <button @click="closeTask(task)">Quittieren</button>
          </li>
        </ul>
        <h4 v-show="taskList.length == 0">Alles Erledigt!</h4>
      </div>
      <div v-show="currentStation.roles && currentStation.roles.includes('sender')">
        <h3>Aktionen</h3>
        <div id="commands">
          <button
            v-for="(command, i) in currentStation.commands"
            :key="i"
            @click="commandClicked(command)"
          >{{command.title}}</button>
        </div>
      </div>
      <div v-show="currentStation.roles && currentStation.roles.includes('sender')">
        <h3 v-show="orderList.length > 0">Offene Aufträge</h3>
        <ul id="orders">
          <li
            v-for="(order, i ) in orderList"
            :key="i"
            class="order"
            :class="'priority-' + order.command.priority"
          >
            <div class="message">
              <span>
                <small>An: {{order.command.receiver}}</small>
                <br />
                <strong>{{order.command.title}}</strong>
                <br />
                <small>{{new Date(order.timestamp).toLocaleTimeString("de-DE") }}</small>
              </span>
            </div>
            <button @click="cancelTask(order)">Abbrechen</button>
          </li>
        </ul>
      </div>
    </div>
    <RoleEditor ref="roleEditor" />
    <footer>Technischer Ansprechpartner: Artem Anufrij</footer>
  </div>
</template>

<script>
import ContextMenu from "../../../src/controls/ContextMenu";
import RoleEditor from "./dialogs/RoleEditor";

export default {
  name: "app",
  data() {
    return {
      stationsList: [],
      currentStation: {},
      orderList: [],
      taskList: []
    };
  },
  methods: {
    stationClicked(station) {
      this.currentStation = station;
      this.$socket.emit("station selected", station.title);
    },
    commandClicked(command) {
      this.$socket.emit("new task", {
        command: command,
        sender: this.currentStation.title
      });
    },
    cancelTask(task) {
      this.$socket.emit("cancel task", {
        id: task._id,
        receiver: task.command.receiver
      });
    },
    closeTask(task) {
      this.$socket.emit("close task", { id: task._id, sender: task.sender });
    }
  },
  sockets: {
    stations(stations) {
      this.$store.state.roles = this.stationsList = stations;
    },
    orders(orders) {
      this.orderList = orders;
    },
    tasks(tasks) {
      this.taskList = tasks;
    }
  },
  components: {
    ContextMenu,
    RoleEditor
  }
};
</script>

<style>
</style>
